@font-face {
  font-family: Nexa-XBold;
  src: url(fonts/XBold.otf);
}
@font-face {
  font-family: Nexa-Regular;
  src: url(fonts/Regular.otf);
}
@font-face {
  font-family: Nexa-Book;
  src: url(fonts/Book.otf);
}
@font-face {
  font-family: Nexa-Heavy;
  src: url(fonts/Heavy.otf);
}
:root {
  --black: #000;
  --white: #fff;
  --label: #ff4459;
  --yellow: #ffea00;
  --yBackground: #ffea7b;
  --radius: 10px;
  --pButton: 7px 35px;
  --upper: uppercase;
  --2rem: 2rem;
  --regular: Nexa-Regular;
  --book: Nexa-Book;
  --xbold: Nexa-XBold;
  --heavy: Nexa-Heavy;
  --lightGray: #ededed;
}
section {
  margin: var(--2rem) 0;
}
img {
  max-width: 100%;
}
li {
  font-family: var(--regular);
  line-height: 1.5;
}
.header, footer{
  background: #302c26;
  margin: 0;
}
.header .logo {
  width: 300px;
}
footer {
  padding: 50px 0 80px;
  display: flex;
}
footer h3 {
  color: var(--yellow);
  font-size: 20px;
  font-family:var(--heavy);
}
footer, footer a {
  color: var(--white);
}
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
}
.single-footer > div {
  padding: 5px 0;
  font-family: var(--regular);
  line-height: 22px;
}
.single-footer i {
  font-size: 15px;
  margin-right: 5px;
}
.single-footer a {
  text-decoration: none;
}
.social i {
  font-size: 20px;
}
/* Single Course */
.single_course header {
  display: flex;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0)),
    url("header.jpg");
  background-position: top center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  height: 400px;
  width: 100vw;
}
.single_course header > div {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single_course header h1 {
  color: var(--yellow);
  text-transform: var(--upper);
  font-family: var(--xbold);
}
.category {
  color: var(--white);
  text-transform: var(--upper);
  font-family: var(--regular);
}
.date,
.time,
.type {
  font-family: var(--regular);
  color: var(--white);
  line-height: 2;
}
header .btn {
  margin-top: 1rem;
}
h2,
.section_title {
  font-family: var(--regular);
  text-transform: var(--upper);
}
p,
.submodules {
  font-family: var(--book);
  line-height: 1.2;
}
.single_course {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.main-content {
  width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: var(--2rem);
}
.modules {
  margin-bottom: 3.2rem;
}
.submodules {
  list-style-type: none;
  counter-reset: css-counter 0;
  padding-inline-start: 0;
  margin-bottom: var(--2rem);
}
.submodules li {
  counter-increment: css-counter 1;
}
.submodules li:before {
  content: "Módulo " counter(css-counter) ". ";
  text-transform: none;
}
li {
  text-transform: var(--upper);
  line-height: 1.5;
}

/* Buttons */
.btn {
  padding: 7px 20px;
  text-decoration: none;
  margin-bottom: var(--2rem);
  border-radius: var(--radius);
  font-family: var(--xbold);
}
.blk {
  background: var(--black);
  color: var(--white);
}
.yellow {
  background: var(--yellow);
  color: var(--black);
  max-width: max-content;
}
/* Teachers */
.tab {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.tabcontent h3 {
  font-family: var(--xbold);
}
.tab img {
  border-radius: 50%;
}
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button.active img {
  border: 2px solid var(--black);
}
.tabcontent {
  display: none;
  padding: 6px 12px;
}

/* Data Sheet */
.specifications h2 {
  grid-area: subtitle;
  text-align: center;
  padding-bottom: 1rem;
  text-transform: var(--upper);
}
.specifications h2,
.dates,
.schedule {
  border-bottom: 4px solid var(--white);
}
.specifications span {
  font-family: var(--xbold);
}
sub {
  font-family: var(--heavy);
}
.dates {
  grid-area: dates;
}
.schedule {
  grid-area: schedule;
}
.place {
  grid-area: place;
}
.investment {
  grid-area: investment;
}
.specifications {
  background: var(--yBackground);
  padding: 1rem var(--2rem) 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "subtitle subtitle"
    "dates schedule"
    "place investment";
  gap: 1rem;
  border-radius: 5px;
}
.specifications span {
  font-weight: 700;
  font-size: 1.3em;
}
.specifications p {
  line-height: 1.5;
  margin: 0;
}
.specifications p:last-child {
  margin-bottom: var(--2rem);
}
.dates i,
.schedule i,
.place i,
.investment i {
  font-size: 25px;
  margin-right: 5px;
}

/* Grid Course */
.related {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0 var(--2rem);
}
.related > div {
  display: grid;
  gap: 1rem;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  text-align: start;
}
.course_header {
  position: relative;
}
.course p,
.course h2 {
  line-height: 1.3;
  margin: 0;
}
.course_header img {
  border-radius: var(--radius);
}
.course_body {
  margin-top: 10px;
}
.course_alliance {
  background: var(--label);
  border-radius: var(--radius);
  padding: var(--pButton);
  color: var(--white);
  text-transform: var(--upper);
  position: absolute;
  top: 10px;
  left: 10px;
}
.course_name {
  font-family: var(--heavy);
  font-size: 1.1em;
}
.course_description {
  font-family: var(--book);
  font-size: 0.9rem;
}
.fixed-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  text-align: center;
}
.fixed-footer div {
  padding: 15px 0;
  background: var(--yellow);
  transition-duration: 0.8s;
  color: var(--black);
  font-family: var(--xbold);
  font-size: 1.2em;
}
.fixed-footer a {
  text-decoration: none;
  color: var(--black);
  
}
.fixed-footer div:hover {
  background: #ecdb1a;
  transition-duration: 0.8s;
}
.web {
  font-size: 0.9em;
  font-family: "Nexa-Book";
}

/* Modal */

.modal {
  display: flex; 
  opacity: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  pointer-events: none;
  will-change: transform, opacity;
  transform: scale(1.15);
  transition:
    transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal.visible {
  pointer-events: auto;
  opacity: 1;
   transform: scale(1);
  transition:
    transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-content {
  border-radius: 15px;
  background-color: #fefefe;
  padding: 24px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 800px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

#body {
  overflow-y: scroll;
}
/* tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .header {
    max-width: 100%;
    padding: 0;
  }
  .header .logo {
    padding: 0;
  }
  .header > div {
    width: calc(100% - 30px);
    padding: 0 25px;
  }
  .main-content {
    width: calc(100% - 30px);
    grid-template: auto / 1fr 50%;
    padding: 0 15px;
  }
  .tab {
    grid-template-columns: repeat(2, 1fr);
  }
  .web {
    display: none;
  }
  footer {
    padding: 50px 25px;
  }
  .footer-container {
    grid-template: auto / repeat(2, 1fr);
    text-align: center;
  }
}
/* mobile */
@media screen and (max-width: 767px) {
  section {
    margin: 1rem 0 0 0;
  }
  .header .logo {
    width: 200px ;
  }
  .single_course header > div {
    padding: 0 15px;
  }
  .single_course {
    margin-bottom: 5rem;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .left {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  .module {
    margin-bottom: 5px;
  }
  .submodules {
    margin-bottom: 2rem;
  }
  .teachers {
    margin: 0;
  }
  .tab {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 0;
  }
  .specifications {
    grid-template-areas: "subtitle" "dates" "schedule" "place" "investment";
    grid-template-columns: 1fr;
    text-align: center;
  }
  .dates i,
  .schedule i,
  .place i,
  .investment i {
    font-size: 20px;
  }
  .specifications p:last-child {
    margin: 1rem;
  }
  .place {
    border-bottom: 4px solid var(--white);
  }
  .disclaimer {
    margin: 2rem 0 0;
  }
  .disclaimer ul {
    margin: 0 auto;
    padding-inline-start: 0;
    max-width: 80%;
  }
  .related > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
  }
  .fixed-footer {
    display: grid;
    width: 100vw;
    justify-content: center;
    background: var(--yellow);
  }
  .fixed-footer div {
    padding: 10px;
    border-right: 1px solid #d7c800;
  }
  .fixed-footer a {
    font-size: 1.2em;
  }
  .web {
    display: none;
  }
  .footer-container {
    grid-template: auto / 1fr;
    text-align: center;
  }
}
#hero-slider {
  margin: 0;
  background: var(--yBackground);
}

#circle-tabs {
  background: var(--yBackground);
  margin: 0;
  padding: 32px 0 0;
}

#circle-tabs h3 {
  margin: 0;
  text-align: center;
  font-family: var(--xbold);
  font-size: 1.75rem;
}

.tab-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.title-stripe {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.title-stripe h4 {
  font-family: var(--xbold);
  font-size: 1.25rem;
}

.title-stripe .stripe {
  height: 0.33rem;
  background-color: var(--yellow);
  flex-grow: 1;
}

.program-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
}

.program {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  width: 240px;
  gap: 4px;
}

.program img {
  border-radius: 48px;
  aspect-ratio: 4 / 3;
  margin-bottom: 12px;
}

.program span {
  font-family: var(--book);
  margin: 0;
}

.program p {
  font-family: var(--xbold);
  margin: 0;
}

.program .badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 12px;
  font-size: 0.8rem;
  background-color: var(--label);
  color: white;
  border-radius: 999px;
  font-family: var(--xbold);
}

#highlights {
  background-color: var(--lightGray);
  padding: 36px 64px;
  font-family: var(--xbold);
  margin: 0;
}

#highlights h3 {
  text-align: center;
  margin-top: 0;
}

#events {
  padding: 32px 64px;
}

#searchbar {
  background-color: var(--lightGray);
  padding: 36px 64px;
  margin: 0;
}

#tags {
  background-color: white;
  padding: 36px 64px;
  text-align: center;
  margin: 0;
}

#tags h3 {
  font-family: var(--xbold);
  margin: 0;
}

.tag-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 32px;
}

.tag-list p {
  width: 33%;
  margin: 0;
  line-height: 2;
}

@media screen and (max-width: 900px) {
  .tag-list p {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .tag-list p {
    width: 100%;
  }

  #circle-tabs h3 {
    font-size: 1rem;
  }

  #highlights {
    padding: 36px 24px;
  }

  #events {
    padding: 24px;
    margin: 0;
  }
}
