/* JS manipulated styles */

.slide {
  display: none;
}

.slide.active {
  display: inline-block;
}

/* Appearance Styles */

.slider {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.frame {
  padding: 0;
  margin: 0;
}

.slides {
}
.frame {
}
.slide {
  box-sizing: border-box;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  aspect-ratio: 3 / 1;
}

.prev,
.next {
  height: 2rem;
  width: 2rem;
  border: 0;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.639));
  background-color: white;
  color: black;
  transition: 300ms;
  position: absolute;
  top: calc(50% - 1rem);
}

.prev {
  left: 48px;
}

.next {
  right: 48px;
}

.prev:hover,
.next:hover {
  filter: drop-shadow(0 0 0.5rem var(--yBackground));
}

@media screen and (max-width: 767px) {
    .prev {
        left: 24px;
      }
      
      .next {
        right: 24px;
      }

      .prev,
.next {
  height: 1.5rem;
  width: 1.5rem;
}
}
