/* Modal */
  
.modal {
    display: flex; 
    opacity: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    pointer-events: none;
    will-change: transform, opacity;
    transform: scale(1.15);
    transition:
      transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }
  
  .modal.visible {
    pointer-events: auto;
    opacity: 1;
     transform: scale(1);
    transition:
      transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  }
  
  .modal-content {
    border-radius: 15px;
    background-color: #fefefe;
    padding: 24px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 800px;
  }

  .modal-content iframe {
    width: 100%;
    height: fit-content;
    aspect-ratio: 16 / 9;
    margin-top: 12px;
    border-radius: 10px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
  
  #body {
    overflow-y: scroll;
  }