.highlights-cards {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.highlights-video {
    width: calc((100% - (24px * 2)) / 3);
    height: auto;
    aspect-ratio: 5 / 3;
    background-color: var(--yellow);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.highlights-video img {
    width: calc(100% / 6);
    height: auto;
}

@media screen and (max-width: 600px) {
    .highlights-video {
        border-radius: 10px;
    }
  }